<!DOCTYPE html>
<html>
  <head>
    <title>BoilerplateRails5</title>
    <%= csrf_meta_tags %>

    <!--
    stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
     -->
  </head>

  <body>
    <div id="root">
      {{ message }}
      <%= yield %>
    </div>

    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "vendor.js" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </body>
</html>
